<div class="form">
  <div class="row">
    <div class="col-xs-5">
      <h1>Погода о главном</h1>
    </div>
  </div>
  <div class="row">
    <div *ngIf="cites">
      <ul class="cites">
        <li
          *ngFor="let city of cites"
          [class.selected]="city === selectedCity"
          (click)="onSelect(city)"
        >
          <a>
            <b>{{ city.name }}:</b>
            <span *ngIf="city?.temp; else loading">{{ city.temp }}℃ </span>
          </a>
          <ng-template #loading
            ><i-bs name="arrow-repeat" class></i-bs
          ></ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>

